@model Wachowski.ProjectsManager.Models.RoleViewModel

@{
    ViewData["Title"] = "Members";
}

<h1>Project members</h1>
<p>People that are assigned to projects. Every person can only be member of only one project</p>
<p>
    <a asp-action="Create">Add new member</a>
</p>
<form asp-controller="Members" asp-action="Index" method="get">
    <p>
        <select asp-for="MemberRole" asp-items="Model.Roles">
            <option value="">All</option>
        </select>

        <input type="text" placeholder="Search members..." name="Search" value="@ViewData["CurrentFilter"]" asp-for="Search"/>
        <input type="submit" value="Filter" />
        @if (@ViewData["CurrentFilter"] != null && !string.IsNullOrEmpty(@ViewData["CurrentFilter"].ToString())) {
            <span>| <a asp-action="Index">Clear</a></span>
        }
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members[0].DateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
